/* Colors */
$black: #000;
$white: #fff;
$red: red;
$gray: #999;
$green: green;
$blue: blue;
$turquoise: #39C2D7;

$header-color: #18adc4;
$footer-color: gray;

//$main-color: #18adc4;

/* Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font: 12pt 'Open Sans', Verdana, Tahoma, Arial, sans-serif;
$font-size: 16px;
$font-family: 'Open Sans', 'Verdana', sans-serif;
$font-color: $green;

$button-font: bold 14pt Arial, Verdana, Tahoma, sans-serif;
$button-font-color: $white;

/* Page */
$min-width: 320px;
$min-height: 100vh;

$header-height: 90px;
$footer-height: 80px;

$header-width: 1400px;

/* Input */
$input-width: 300px;
$input-height: 40px;
$input-padding: 5px;