@import "reset.css"; /* normalize.css */

/******* COMMON *******/

body {
	margin: 0;
	font: 12pt Verdana, Tahoma, Arial;
	vertical-align: top;
	/* min-width: 565px; */
	min-width: 381px; 
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/* align-items: center;
	align-content: center; */
}

form {
	/* line-height: 50px; */
	padding: 40px;
}

button {
	background-color: gray;
	border: none;
}

main {
	flex: 1 0 auto;
	/*left: 380px;*/
	/*display: inline-block;*/
	/* vertical-align: top;
	text-align: center;
	text-align-last: center;
	-webkit-text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;
	-o-text-align-last: center; */
	/* overflow: auto; */
}

table {
	width: 80%;
	margin: 20px;
	border: 1px solid gray;
	border-spacing: 10px;
}

td {
	padding: 10px;
	vertical-align: top;
	text-align: center;
}

a:link {
  text-decoration: none;
}

.default-size {
	width: 300px;
	height: 40px;
	padding: 5px;
	margin: 10px;
}

.bold-text {
	font: bold 14pt Arial, Verdana, Tahoma, serif;
	color: white;
}

input[type="email"]:valid, input[type="password"]:valid {
	border: 1px solid darkgreen;
}

input[type="submit"] {
	background-color: #39C2D7;
	border: none;
}

/**********************/

/******* HEADER *******/

.page-header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
	min-height: 70px; 
	/* min-width: 400px; */
	background-color: #18adc4;
	padding: 15px 10px 10px;
}
/* .menu {
	order: 2;
} */

.logo {
	flex-grow: 2;
	order: 1;
	text-align: center;
}

.right-buttons {
	flex-grow: 2;
	display: flex;
	order: 3;
	justify-content: space-around;
	margin: 20px 0;
}

.search-input {
	flex-grow: 2;
	order: 4;
	margin: 0 15px;
	height: 40px;
	padding-left: 10px;
	min-width: 330px;
}

.search {
}

.cart {
}

.profile {
}

/**********************/

/******* MAIN *******/

nav {
	padding-right: 30px;
	/*display: inline-block;*/
	float: left;
	border: 1px solid #464547;
	/*border: 1px solid gray;*/
}

nav > ul {
	list-style-type: disc;
	padding-left: 25px;
}

nav > ul > li {
	margin: 10px 0; 
}

/********************/

/*--- LOGIN, REGISTRATION ---*/
.sign-page-bg {
	width: 100%;
	display: flex;
	flex: 1 0 auto;
	align-self: center;
	align-items: center;
}

.sign-page-header {
	background-color: #464547;
	height: 70px;
	line-height: 70px;
}

.sign-page {
	/* flex-grow: 2; */
	height: 100%;
	background-color: white;
	text-align: center;
	/* outline: 1px solid #464547; */
}

/*---------------------------*/

/*--- LIST, GRID, CART ---*/

.view {
	min-width: 250px;
	margin: 5px 0px;
	text-align: center;
	text-align-last: center;
}

.block-image {
	display: block;
	margin: 0 auto 5px auto;
}

.price {
	color: darkred;
}

.total {
	padding: 20px;
}

.remove-button {
	text-align: right;
	text-align-last: right;
}

.page-main {
	/* display: flex; */
	/* overflow: hidden; for height control (= nav height) */
	flex: 1 0 auto;
	/* padding-bottom: 150px;
	margin-bottom: 200px; */
}

.list-view {
	/* flex-grow: 1; */
	min-width: 500px;

	text-align: left;
	text-align-last: left;
}

.list.item {
	display: block;
	min-height: 100px;
	/* height: 100px; */
	margin: 20px 20px; 
	padding-left: 170px;
}

.list.item p {
	padding-left: 120px;
}

.list-image {
	/* float: left; */
	height: 100px;
	position: absolute;
	vertical-align: top;
	margin-right: 15px;
}

.grid {
	display: inline-block;
	width: 150px;
	margin: 30px;
	text-align: center;
	color: gray;
}

.grid.item {
	margin: 10px;
	vertical-align: top;
}

.grid-view .block-image {
	height: 50px;
}

/*-------------------*/

.inputs {
	display: inline-block;
	vertical-align: top;
}

.inputs ul {
	display: block;
	/* list-style-type: none; */
	/* padding-left: 0; */
	text-align: left;
	text-align-last: left;
	line-height: 1.5;
}

/*#noimage {
	font-size: 140px;
}*/

.address {
	display: flex;
  width: 400px;
  height: 250px;
  top: 0;
	left: 0;
	padding: 20px;

  align-items: center;
  justify-content: center;
  overflow: auto;  
}

footer {
	flex-shrink: 0;
	height: 70px;
	line-height: 68px;
	text-align: center;
	color: white;
	background-color: #464547;
	vertical-align: middle;
}

.epam-logo {
	height: 50px;
	vertical-align: middle;
	margin: 10px;
}

@media screen and (min-width: 596px) {
	.menu {

	}

	.search {
		display: none;
	}

	.search-input {
		min-width: 450px;
	}
}

@media screen and (min-width: 765px) {
  header {
		flex-wrap: nowrap;
	}

	.logo {
		order: 1;
		flex-grow: 0;
	}

	.menu {
		display: none;
	}

	.search {
		display: none;
	}

	.search-input {
		order: 2;
		min-width: 140px;
	}

	.right-buttons {
		flex-grow: 0;
		order: 3;
		min-width: 150px;
		margin: 0px;
	}

	.sign-page-bg {
		width: auto;
		/* height: auto; */
 
	}

	.sign-page {
		width: auto;
		height: auto;

		/* border: 1px solid #464547; */
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	}
}