@import "reset.css"; /* normalize.css */

/******* COMMON *******/

body {
	display: flex;
	min-width: 381px; 
	min-height: 100vh;
	flex-flow: column nowrap;
	font: 12pt Verdana, Tahoma, Arial;
}

form {
	padding: 40px;
}

button {
	background-color: gray;
	border: none;
}

table {
	width: 80%;
	margin: 20px;
	border: 1px solid gray;
	border-spacing: 10px;
}

td {
	padding: 10px;
	vertical-align: top;
	text-align: center;
}

a:link {
  text-decoration: none;
}

.default-size {
	width: 300px;
	height: 40px;
	padding: 5px;
	margin: 10px;
}

.bold-text {
	font: bold 14pt Arial, Verdana, Tahoma, serif;
	color: white;
}

input[type="email"]:valid, input[type="password"]:valid {
	border: 1px solid darkgreen;
}

input[type="submit"] {
	background-color: #39C2D7;
	border: none;
}

/**********************/

/******* HEADER *******/

.page-header {
	display: flex;
	min-height: 70px; 
	padding: 15px 10px 10px;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
	background-color: #18adc4;
}

.logo {
	flex-grow: 2;
	order: 1;
	text-align: center;
}

.right-buttons {
	display: flex;
	margin: 20px 0;
	/* flex-grow: 2; */
	flex-grow: 0;
	order: 3;
	min-width: 367px;
	/* justify-content: space-around; */
	justify-content: space-between;
}

.search-input {
	height: 40px;
	min-width: 330px;
	/* margin: 0 15px; */
	padding-left: 10px;
	flex-grow: 2;
	order: 4;
}

/**********************/

/******* INDEX *******/

nav {
	padding-right: 30px;
	/*display: inline-block;*/
	float: left;
	border: 1px solid #464547;
	/*border: 1px solid gray;*/
}

nav > ul {
	list-style-type: disc;
	padding-left: 25px;
}

nav > ul > li {
	margin: 10px 0; 
}

.index-page, .grid-view {
	display: flex;
	flex-wrap: wrap;
	align-content: center; /* vertical */
	justify-content: center; /* horizontal */
}

/********************/

.index-page, .sign-page {
	flex: 1 0 auto;
}

/*--- LOGIN, REGISTRATION ---*/
.sign-page-bg {
	display: flex;
	width: 100%;
	flex: 1 0 auto;
	align-self: center;
	align-items: center;
}

.sign-page-header {
	background-color: #464547;
	height: 70px;
	line-height: 70px;
}

.sign-page {
	/* flex-grow: 2; */
	height: 100%;
	background-color: white;
	text-align: center;
	/* outline: 1px solid #464547; */
}

/*---------------------------*/

/*--- LIST, GRID, CART ---*/

.view {
	min-width: 250px;
	margin: 5px 0px;
	text-align: center;
	text-align-last: center;
}

.block-image {
	display: block;
	margin: 0 auto 5px auto;
}

.price {
	color: darkred;
}

.total {
	padding: 20px;
}

.remove-button {
	text-align: right;
	text-align-last: right;
}

.page-main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.list-view {
	/* flex-grow: 1; */
	width: 100%; 

	text-align: left;
	text-align-last: left;
}

.list.item {
	display: block;
	min-height: 100px;
	/* height: 100px; */
	margin: 20px 20px; 
	/* padding-left: 170px; */
}

.list.item p {
	padding-left: 120px;
}

.list-image {
	/* float: left; */
	height: 100px;
	position: absolute;
	vertical-align: top;
	margin-right: 15px;
}

.grid-view {
	align-content: flex-start; /* vertical */
}

.grid {
	width: 150px;
	margin: 30px;
	text-align: center;
	color: gray;
}

.grid.item {
	margin: 10px;
	padding: 10px;
	border: 1px solid gray;
}

.grid-view .block-image {
	height: 50px;
}

/*-------------------*/

.inputs {
	display: inline-block;
	vertical-align: top;
}

.inputs ul {
	display: block;
	/* list-style-type: none; */
	/* padding-left: 0; */
	text-align: left;
	text-align-last: left;
	line-height: 1.5;
}

/*#noimage {
	font-size: 140px;
}*/

.address {
	display: flex;
  width: 400px;
  height: 250px;
  top: 0;
	left: 0;
	padding: 20px;

  align-items: center;
  justify-content: center;
  overflow: auto;  
}

footer {
	flex-shrink: 0;
	height: 70px;
	line-height: 68px;
	text-align: center;
	color: white;
	background-color: #464547;
	vertical-align: middle;
}

.epam-logo {
	height: 50px;
	vertical-align: middle;
	margin: 10px;
}

@media screen and (min-width: 596px) {

	.page-header {
		justify-content: space-between;
	}

	.logo {
		flex-grow: 0;
	}

	.right-buttons {
		min-width: auto;
		flex-grow: 2;
		margin-left: 20px;
		justify-content: space-around;
	}

	.search {
		display: none;
	}

	.search-input {
		min-width: 450px;
	}

	.page-main {
		flex-direction: row;
	}
}

@media screen and (min-width: 795px) {
  .page-header {
		flex-wrap: nowrap;
	}

	.logo {
		order: 1;
		flex-grow: 0;
	}

	.menu {
		display: none;
	}

	.search {
		display: none;
	}

	.search-input {
		order: 2;
		min-width: 140px;
		margin: 0 20px;
	}

	.right-buttons {
		flex-grow: 0;
		order: 3;
		min-width: 150px;
		margin: 0px;
	}

	.sign-page-bg {
		width: auto;
 
	}

	.sign-page {
		width: auto;
		height: auto;

		/* border: 1px solid #464547; */
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	}
}