@import "reset.css"; /* normalize.css */

body {
	margin: 0;
	font: 12pt Verdana, Tahoma, Arial;
	vertical-align: top;
	min-width: 600px;
}

form {
	padding: 30px;
	line-height: 50px;
}

a:link {
    text-decoration: none;
}

.sign-bg {
	/* position: fixed; */ /* modal window */
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* background: rgba(0,0,0,0.3); */ /* modal window */
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: block;
	pointer-events: auto;
}

input[type="email"], input[type="password"], input[type="submit"], button {
	width: 300px;
	height: 40px;
	padding: 5px;
}

input[type="email"]:valid, input[type="password"]:valid {
	border: 1px solid darkgreen;
}

input[type="submit"] {
	background-color: #39C2D7;
	border: none;
}

.bold-text {
	font: bold 14pt Arial, Verdana, Tahoma, serif;
	color: white;
}

button {
	background-color: gray;
	border: none;
}

header {
	display: flex;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
	min-height: 70px; 
    background-color: #464547;
}

.header-image {
	/* position: absolute; */
	border: 20px solid #39C2D7;
    background-color: #39C2D7;
}

.profile { /* id - js, class - css */
	margin-left: 1px;
}

.cart {
}

.logo {
    background-color: #39C2D7;
    height: 100%;
	padding: 0px 20px;
}

.search {
	flex-grow: 2;

	min-width: 150px;
	margin: 0 15px;
	height: 40px;
	padding: 5px;
}

.logo span {
	font: bold 24px Tahoma, Arial, Verdana, serif;
	color: white;
    line-height: 70px;
    padding: 0 20px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

nav {
	padding-right: 30px;
	/*display: inline-block;*/
	float: left;
	border: 1px solid #464547;
	/*border: 1px solid gray;*/
}

nav > ul {
	line-height: 2;
	/*margin-bottom: 10px;*/
}

main {
	/*left: 380px;*/
	/*display: inline-block;*/
	vertical-align: top;
	text-align: center;
	text-align-last: center;
	-webkit-text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;
	-o-text-align-last: center;
	/* overflow: auto; */
}

main.sign-pages {
	width: 400px;
	position: relative;
	margin: 10% auto;
	background-color: white;

	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.sign-header {
	background-color: #464547;
	height: 70px;
	line-height: 70px;
}

main.list {
	text-align: left;
	text-align-last: left;
}

main.address {
	padding: 20px;
}

main.list div.product {
	display: block;
	height: 100px;
	margin: 20px 20px; 
}

p.price {
	color: darkred;
}

main.list p {
	min-width: 250px;
	margin: 5px 110px;
}

#page-main {
	overflow: hidden; /*for height control (= nav height)*/
}

main.categories {
	/*display: inline-block;*/
	width: auto;
	/*width: calc(100% - 201px);*/
}

div.address {
    display: flex;
    width: 400px;
    height: 250px;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    overflow: auto;  
}
/* 
div#form {
	border: 1px solid black;
	margin: 30px;
} */

div.category, main.grid div.product {
	display: inline-block;
	width: 150px;
	margin: 30px;
	/*background-color: gray;*/
	text-align: center;
	color: gray;
}

div#total {
	padding: 20px;
}

div.address {
	display: inline-block;
}

main.grid div.product {
	width: 150px;
	margin: 10px;
}

img#epam-logo {
	height: 50px;
	vertical-align: middle;
	margin: 10px;
}

img.category, main.grid img.product {
	display: block;
	margin: 0 auto 5px auto;
}

main.grid img.product {
	height: 50px;
}

main.list img.product {
	float: left;
	height: 100px;
	vertical-align: top;
}

p#view {
	text-align: center;
	text-align-last: center;
}

table {
	width: 80%;
	margin: 20px;
	border: 1px solid gray;
	border-spacing: 10px;
}

table td {
	vertical-align: top;
}

table td#remove {
	text-align: right;
	text-align-last: right;
}

div.inputs {
	display: inline-block;
	vertical-align: top;
}

div.inputs ul {
	display: block;
	list-style-type: none;
	padding-left: 0;
	text-align: left;
	text-align-last: left;
	line-height: 1.5;
}

/*#noimage {
	font-size: 140px;
}*/

footer {
/*	margin-top: 30px;*/
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: white;
	background-color: #464547;
	vertical-align: middle;
}