@import 'list-viewer';

.cart-page {
  display: flex;
  flex: 1 0 auto;

  //width: 100%;
  align-items: flex-start;

  &__buy-button {
    margin-left: auto;
    margin-right: 0;
  }

  &__list-viewer {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
  }

  &__total, &__item-price, &__second-col {
    text-align: right;
  }

  &__controls, &__item-quantity {
    text-align: center;
  }

  &__button {
    width: auto;
    margin: 5px;
  }
}