.catalog {
  &__header-container {
    width: 100%;
  }

  &__container {
    width: 100%;
    max-width: 370px;
    min-height: 210px;
    //min-height: 300px;
    text-align: center;
  }

  &__item-wrapper {
    display: inline-block;
    box-sizing: content-box;
    width: 30%;
    //width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 172px;
    padding: 3px;
    vertical-align: top;
  }

  &__image {
    display: inline-block;
    width: 100px;
  }

  &__caption {
    display: block;
    color: $font-color;
    font-size: $font-size-small;
  }
}

@media screen and (min-width: 370px) {
  .catalog {
    &__item-wrapper {
      padding: 5px;
    }

    &__container {
      min-height: 230px;
    }
  }
}

@media screen and (min-width: 600px) {
  .catalog {
    &__container {
      min-height: 230px;
    }
  }
}