.gray {
  @include bg-color(gray);
}

.turquoise {
  @include bg-color($turquoise);
}

.big-bottom-margin {
  margin-bottom: 35px;
}

.small-top-margin {
  margin-top: 20px;
}

.small-right-margin {
  margin-right: 20px;
}

.small-bottom-margin {
  margin-bottom: 20px;
}

.tiny-top-margin {
  margin-top: 8px;
}

.tiny-bottom-margin {
  margin-bottom: 8px;
}

.tiny-left-margin {
  margin-left: 8px;
}

.input-size {
  //display: block;
  //display: inline-block;

  width: 100%;
  max-width: 500px;

	height: $input-height;
  padding: $input-padding;

  line-height: 100%;

  border: 1px solid gray;

  box-sizing: border-box;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}
