.header {
  width: 100%;

  box-sizing: border-box;

	//background-color: $header-color;

  &__container {
    @extend .flex;
    flex-wrap: wrap; //@include flex-flow(row, wrap);
    //flex-direction: column;

    min-height: $header-height;
    max-width: $header-width;

    margin: 10px auto;
    //padding: 20px;

	  justify-content: center;
    align-items: center;
  }

  &__logo {
    order: 1;
    flex-shrink: 1;
  }

  &__buttons {
    @extend .flex;
    flex-grow: 0;
    order: 3;

    min-width: $min-width - 20px;
    //min-height: 90px;

    margin-top: 15px;

    justify-content: space-between;
    align-items: center;
  }

  &__profile {
    cursor: pointer;
  }

  &__animation {
    transition: 0.5s ease-in-out;
    transform: rotate(-360deg);
  }

  &__search-form {
    //display: none;
    height: 0;
    min-width: $min-width - 10px;

    align-self: center;
    flex-grow: 2;
    order: 4;

    transition: 0.3s ease-in-out;
    overflow: hidden;

    box-sizing: border-box;

    &_visible {
      height: 40px;
    }
  }

  &__search-input {
    box-sizing: border-box;

    width: 100%;
    height: 40px;

    padding: 10px;
  }
}

/*@keyframes move-b {
	5% {
		transform: translateY(-10px);
	}
	
	10% {
		transform: translateY(0px);
	}
	
	15% {
		transform: translateY(-10px);
	}
	
	20% {
		transform: translateY(0px);
	}
}*/