@import 'menu';

.header {
  width: 100%;
  box-sizing: border-box;

  margin-bottom: 20px;

  &__container {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    //min-height: $header-height;
    max-width: $header-max-width;

	  //justify-content: center;
    align-items: center;
  }

  &__nav-btn {
    margin-right: 20px; //width of search button
  }

  &__logo-wrapper {
    flex-grow: 2;
    text-align: center;
  }

  // &__logo-img {
  //   vertical-align: middle;
  // }

  &__logo {
    display:block;

    width: 152px;
    height: 23px;

    margin: 0 auto;

    background: url(http://localhost:3000/images/ex_shop_m.png) no-repeat;
  }

  &__search-btn {
    fill: #696969; //to var
  }
}

@media screen and (min-width: 370px) {
  .header {
    &__logo {
      width: 173px;
      height: 25px;

      background: url(http://localhost:3000/images/ex_shop_logo_m.png) no-repeat;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__logo-wrapper {
      flex-grow: 0;
      padding: 15px;
    }

    &__logo {
      width: 310px;
      height: 70px;
      background: url(http://localhost:3000/images/ex_shop_logo.png) no-repeat;
    }

    &__nav-btn, &__search-btn {
      display: none;
    }

    &__cart {
      order: 4;
      box-sizing: border-box;
      width: 70px;
    }
  }

  .desktop-menu {
    &__container {
      display: block;
    }
  }
}