.index-page {
  @extend .flex;
  flex-wrap: wrap;
  flex: 1 0 auto;

  width: auto;

	align-content: center; /* vertical */
  align-self: center;
  align-items: center;
	justify-content: center;
  /* justify-content: space-around; */

  //padding: 20px 0;

  &__image {
    width: $min-width - 10px;
  }

  &__grid {
    text-align: center;
    margin-bottom: 20px;
  }

  &__caption {
    font: $button-font;
    color: black;
    //text-transform: uppercase;
  }
}