@media screen and (min-width: 432px) {
	// .index-page {
	// 	max-width: 420px;
	// }
}

@media screen and (min-width: 565px) {
	.header {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 20px;

    &__buttons {
      min-width: auto;
      margin-left: 20px;

      flex-grow: 2;
      justify-content: space-around;
    }

    &__menu, &__search {
      display: none;
    }

    &__search-form {
      height: 40px;
      min-width: 450px;
      transition: none;
    }
  }

	.page-main {
    flex-direction: row;

    #viewChanger {
      display: inline-block;
    }
	}

  .product {
    &_grid {
      //width: $grid-width;
    }
  }

}

@media screen and (min-width: 765px) {
  .header {
    flex-wrap: nowrap;

    /*.logo {
		order: 1;
		flex-grow: 0;
    }*/

    &__buttons {
      flex-grow: 0;
      order: 3;
      min-width: 150px;
      margin: 0px;
    }

    &__menu, &__search {
      display: none;
    }

    &__search-form {
      display: block;
      order: 2;
      min-width: 140px;
      margin: 0 20px;
    }
  }

  .navigation {
    //height: 315px;
    max-height: 500px; /// ????
    height: auto;
    transition: none;
  }

	.sign-page {
    //width: auto;

    align-items: center;
    align-self: center;
    justify-content: center;
	}
}