.page-main {
	@extend .flex;
  flex-direction: column;

  flex: 1 0 auto;

  box-sizing: border-box;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  &__content {
    @extend .flex;
    flex-direction: column;

    width: 100%;

    padding: 10px;

    box-sizing: border-box;

    align-items: center;
  }

  &__products {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    //padding: 20px;
  }
  &__full-product {
    margin: 0 auto;
    width: 100%;
  }

  #viewChanger {
    display: none;
  }

  // &_list-view {
  //   box-sizing: border-box;
  //   width: 100%;

  //   padding: 20px;

  //   text-align: left;
  //   text-align-last: left;
  // }

  // &_grid-view {
  //   @extend .flex;
  //   flex-wrap: wrap;
  //   width: 100%;
  //   //flex-direction: row;
  //   align-content: flex-start; /* vertical */
  // }
}