.flex {
  display: flex;
}

.page {
  @extend .flex;
  //@include flex-dir(column);
  flex-direction: column;
  align-content: flex-start;

	min-width: $min-width; 
  min-height: $min-height;
  
  font: $font;
  
}