//$image-width: 150px;
$grid-width: 200px;
$max-height: 150px;

.product {
  //min-width: 320px;

  //margin-bottom: 10px;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid $border-color;
  display: flex;

  &__image {
    display: inline-block;
    margin-right: 10px;
    flex-grow: 0;
  }

  &__description {
    display: inline-block;
    margin-right: 10px;
    text-align: justify;

    &_grid {
      display: none;
    }
  }

  &__left-part {
    flex-grow: 3;
    flex-shrink: 2;
  }

  &__right-part {
    display: inline-block;
    min-width: 150px;
  }

  &_grid {
    display: inline-block;
    //display: flex;
    width: 100%;

    //max-width: 50%;

    box-sizing: border-box;

    padding: 10px;
    margin: 5px 0;

    text-align: center;

    //border: 1px solid $border-color;
    border: none;
  }

  &__wrapper {
    display: flex;
    flex-grow: 2;

    &_grid {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 425px) {
  .product {
    &_grid {
      max-width: 50%;
    }
  }
}

@media screen and (min-width: 768px) {
  .product {
    &_grid {
      max-width: 33.3333%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .product {
    &_grid {
      max-width: 25%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .product {
    &_grid {
      max-width: 20%;
    }
  }
}