$search-input-height: 36px;

.search-form {
  position: relative;

  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;

  flex-grow: 2;
  width: 100%;

  &__input {
    box-sizing: border-box;

    width: 100%;
    height: $search-input-height;
    min-width: 100px;

    padding: 3px 38px 0 8px;

    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    font-weight: normal;
    font-style: italic;
    color: black;
    text-align: center;

    background: #eee;
    border: none;
    border-bottom: 2px solid transparent;

    transition: border-bottom .2s;

    &:focus {
      text-align: left;
      background: #fff;
      outline: 0; // Web-kit default action fix
      border-bottom: 2px solid $main-color;

      &::placeholder {
        //color: transparent;
        color: #ddd;
      }
    }
  }

  &__fa-search {
    position: absolute;

    height: $search-input-height;
    width: 26px;
    right: 6px;

    fill:#696969;

    &:hover {
      fill: $main-color;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1024px) {
  .search-form {
    width: auto;
    max-width: 200px; // Increase max-width to 350px for active search-input

    flex-grow: 2;
    order: 2;

    left: -34px;

    border: none;
    border-bottom: 1px solid #ddd;

    transition: max-width .5s ease-in-out;

    &__form-wrapper {
      flex-grow: 2;
    }

    &__input {
      padding: 5px 0 0 0;

      background: none;

      transition: border-bottom .4s;

      &:focus {
        border-bottom: 2px solid $main-color;
      }
    }

    &__fa-search {
      right: -37px;
    }
  }
}