@import 'two-cols-line';

.sign-form-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 98;
}

.hide {
  display: none;
}

.sign-form {
  position: fixed;
  margin: auto 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //z-index: 99;

	text-align: center;
	background-color: white;

  &__header {
    height: 70px;

    margin: 0px;  // RESET

    background-color: #464547;
    color: white;

    font: $button-font;
    line-height: 70px; // Vertical centering
  }

  &__remember {
    display: inline-block;
  }

  &__input {
    margin-left: auto;
    margin-right: auto;
  }

  &__form {
    padding: 50px;
  }

  a.button { /// -> class ///
    line-height: 30px;
  }
}