.slider {
  max-width: 800px;
  text-align: center;

  &__view-section {
    height: 710px;
  }

  &__preview-section {
    display: flex;
    justify-content: center;
    align-items: center;
    //text-align: center;
  }

  &__big-image {
    border: 1px solid gray;
    //transition: top 1s ease-out 0.5s;
  }

  &__preview-image:hover {
    border: 1px solid darkgray;
    //opacity: 1;
  }

  &__preview-image {
    border: 1px solid lightgray;
    opacity: 0.9;
    cursor: pointer;

    &_active, &_active:hover {
      border: 1px solid rgb(77, 77, 77);
      opacity: 1;
      cursor: default;
    }
  }

  &__control {
    display: inline-block;

    margin: 0 10px;
  }

  &__control:hover {
    cursor: pointer;
  }
}

.opacity-off {
  opacity: 0.6;
}

.disp {
  display: none;
}

.w3-animate-right {
  position: relative;
  //animation: animateright 0.4s;
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}