.slider {
  $slider-width: 700px;

  //max-width: 800px;
  max-width: $slider-width;
  width: 100%;
  text-align: center; //unneccessary
  margin: 0 auto;

  &__view-section {
    //height: 410px;
    //width: 410px;
    max-width: $slider-width;
    width: 100%;
    margin: 0 auto;
  }

  &__preview-section {
    max-width: $slider-width;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //text-align: center;
  }

  &__big-image {
    border: 1px solid gray;
    max-width: 100%;
    box-sizing: border-box;
    //transition: top 1s ease-out 0.5s;
  }

  .image-wrapper {
    flex-shrink: 3;
  }

  &__preview-image:hover {
    border: 1px solid darkgray;
    //opacity: 1;
  }

  &__preview-image {
    border: 1px solid lightgray;
    opacity: 0.9;
    cursor: pointer;
    max-width: 100%;

    &_active, &_active:hover {
      border: 1px solid rgb(77, 77, 77);
      opacity: 1;
      cursor: default;
    }
  }

  &__control {
    display: inline-block;

    margin: 0 10px;
  }

  &__control:hover {
    cursor: pointer;
  }
}

.opacity-off {
  opacity: 0.6;
}

.disp {
  display: none;
}

.w3-animate-right {
  position: relative;
  //animation: animateright 0.4s;
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}