.content {}

.content__section {
  margin-bottom: 40px;

  p {
    margin-bottom: 20px;
  }
}

.content__test {
  padding-top: 30px;
  background-color: #fff;
  margin-top: 40px;
}

.content__test2 {
  @extend .content__test;
}
