.header {
  border-bottom: 1px solid $gray;
  padding: 30px 0;
}

.header_red {
  background-color: $red;
}

.header_green {
  background-color: $green;
}

.header__container {
  @include clearfix; 
}

.header__logo {
  float: left;
}

.header__nav {
  float: right;
}
