//$width: 100%;
// $height = auto;

.list-item {
	display: block;
  //height: $height;
  //width: $width;

  @include clearfix;
  //min-height: 100px;

  margin-bottom: 20px;

  &__image {
    //position: absolute;
    float: left;
    height: 100px; //default-height
    //vertical-align: top;
    margin-right: 15px;
  }
}

