.footer {
  display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 70px;

	//color: white;
	background-color: #464547;
}

.svg-l {
	//transform: translateX(3px);
	animation: move-left 4s linear infinite;
}

.svg-r {
	//transform: translateX(-3px);
	animation: move-right 4s linear infinite;
}

@keyframes move-left {
	5% {
		transform: translateX(-5px);
	}
	10% {
		transform: translateX(0px);
	}
	15% {
		transform: translate(-5px);
	}
	20% {
		transform: translate(0px);
	}
}

@keyframes move-right {
	5% {
		transform: translateX(5px);
	}
	10% {
		transform: translateX(0px);
	}
	15% {
		transform: translate(5px);
	}
	20% {
		transform: translate(0px);
	}
}