////// ????????? ////////

/// Set *BLOCK*__width
.grid {
	width: 150px; //default-width
	text-align: center;
	color: gray;

	&__image {
		display: block;
		margin: 0 auto 5px auto;
	}

  &__caption {
    margin-top: 5px;
  }
}

.grid-item {
  @extend .grid;
	margin: 10px;
	padding: 10px;
	border: 1px solid gray;
}